%h1 Components
%p
  Download:
  \#{link_to "CSV", components_path(format: "csv")} |
  \#{link_to "Excel", components_path(format: "xls")}
%table#components
  %tr
    %th ResMed part no
    %th Description
    %th Part Value
    %th Part data
    %th Manufacturer
    %th Manufacturer part no
    %th Package
  - @components.each do |component|
    %tr
      %td= component.resmed_part
      %td= component.description
      %td= component.value
      %td= component.part_data
      %td= component.manufacturer
      %td= component.manufacturer_part
      %td= component.package
%h2 Import Components
= form_tag import_components_path, multipart: true do
  = file_field_tag :file
  = submit_tag "Import"
