%h1= @product.name + " " + @spin.name
= link_to 'New item', new_product_spin_item_path
%table.table
  %tr
    %th Name
    %th label
    %th{:colspan => "2"}
  - @items.each_with_index do |item, i|
    %tr
      %td= link_to item.name,  product_spin_item_mods_path(@product, @spin, item)    
      %td
        %div.label_stuff
          %div.left_stuff
            %div.imgholder= image_tag(item.image_url, :class => "label_barcode")
            %div.label_text= item.name         
          %div.right_stuff
            %div.label_info= @product.name
            %div.label_info= @spin.name          
          %br{:style => "clear: left;"}/