%h1 Listing Devices
= link_to 'New product', new_product_path
%table.table
  %tr
    %th Name
    %th Description
    %th{:colspan => "2"}
  - @products.each do |product|
    %tr
      %td= link_to product.name, product_path(product)
      %td= product.description
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Destroy', product_path(product),             |
          method: :delete, data: { confirm: 'Are you sure?' } |
